Nouveau héro :
<mat-form-field >
  <input [(ngModel)]="newHero.nom" matInput (keyup.enter)="onAdd(tableHeros)" >
</mat-form-field>
<button mat-button (click)="onAdd(tableHeros)"><i class="material-icons">add</i></button>

<div class="example-container mat-elevation-z8">
   <mat-table #tableHeros [dataSource]="heros">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
      <mat-cell *matCellDef="let hero"> {{hero._id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
      <mat-cell *matCellDef="let hero">
        <mat-form-field *ngIf="(selectedHero && selectedHero === hero);else editNom;">
          <input [(ngModel)]="selectedHero.nom" matInput (keyup.enter)="onEdit(hero)" >
        </mat-form-field>
        <ng-template #editNom>{{hero.nom}}</ng-template>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let hero">
        <button *ngIf="(selectedHero && selectedHero === hero);else editButton;" color="warn"  mat-button (click)="onEdit(hero)"><i class="material-icons">done</i></button>
        <ng-template #editButton><button mat-button (click)="onSelected(hero)"><i class="material-icons">edit</i></button></ng-template>
        <button mat-button (click)="onDelete(hero)"><i class="material-icons">delete</i></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
</div>


